body {
    font-family: "Lato", "Noto Sans KR", sans-serif;
}
.d-none{
    display: none;
}
a, a:link{
    text-decoration: none;
    color: inherit;
}

/* modal start */
/* header start */
/* hero start */
/* links start */
/* section start */
/* footer start */